<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Server Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>
            Welcome to the Express Static Website Example
        </h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
        <img src="images/grogu.jpeg" alt="grogu" width=400>
        <div style="width:400px;">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt necessitatibus aperiam illum
                cupiditate, sint laudantium nam facilis id dolores accusantium est ab, sed maxime dolor molestiae
                cumque, quaerat ullam vitae.
            </p>
        </div>
    </div>
</body>

</html>