<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment 1</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>
            Mike's Website
        </h1>
        <nav>
            <a href="index.html">Home</a>
            <a href="entries.html">Entries</a>
            <a href="login.html">Login</a>
        </nav>
        <div style="width:400px;">
            <p>
                <p>Ten Things I Like / Enjoy</p>
                <p>- Playing Online Games with Friends</p>
                <p>    - Escape from Tarkov</p>
                <p>    - Due Process</p>
                <p>    - Battlefield 4</p>
                <p>    - Phasmophobia</p>
                <p>- Hanging Out with Friends</p>
                <p>- Just Chatting with People</p>
                <p>- Cooking from Scratch</p>
                <p>- Scrolling Through YouTube</p>
                <p>- Snowmobiling</p>
                <p>-----------------------------------</p>
            </p>
        </div>
        <div>
            <p>
                <p>These are just 10 things that I enjoy the most.</p>
                <p>I prefer playing games with friends rather than alone.</p>
                <p>Most of these as you may see is something to do with friends.</p>
                <p>Lastly the YouTube part is just what I do before bed.</p>
            </p>
        </div>
    </div>
</body>

</html>